@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

:root{
    --cor0: #D9D9D9;
    --cor1: #3D9DF2;
    --cor2: #3d88eb;
    --cor3: #366CD9;
    --cor4: #262B8C;

    --fonte-jogo: 'Kanit', sans-serif;
    --fonte-padrao: Arial, Helvetica, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor2);   
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
}

main p{
    padding: 0px 0px 10px 10px;
    text-align: justify;
}

header{
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.295);
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4));
}

header > p{
    text-align: center;
    color: white;
    padding: 0px 0px 40px 0px;
}

header > h1{
    font-size: 3em;
    text-align: center;
    color: white;
    padding: 40px;
}

article{
    background-color: white;
    width: 800px;
    margin: auto;
    border-radius: 3px;
    text-indent: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.541);
    font-family: var(--fonte-padrao);
}

article > h1{
    font-size: 2.5em;
    padding: 10px 0px 20px 0px;
    font-family: var(--fonte-jogo);
}

article > h2{
    font-size: 1.6em;
    padding: 20px 0px 10px 0px;
    font-family: var(--fonte-jogo);
}

ul{
    list-style-position: inside;
    list-style-type: square;
    padding: 10px 0px 10px 5px;
}

ul#dividido{
    columns: 2;
}

ul.especial{
    padding: 2px 0px 10px 0px;
    list-style-type: disc;
}

ol{
    list-style-position: inside;
    padding: 0px 0px 10px 5px;
}

ol.especial{
    padding: 0px 0px 0px 20px;
}

a{
    color: var(--cor4);
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    color: red;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}